.container {
    width:100%;
    height:100% ;
}

.video {
    float:left;
    width:60%;
    text-align:center;
    height:50%;
    padding-vertical:150px;
}

.output {
    float:left; 
    width:40%; 
    height:500px;
    overflow-y:auto;
}

button[id^='un'] {
    background-color:red
}

button[id^='ad'] {
    background-color:LightGreen
}

input[value^='un'], textarea {
    background-color:red
}
